<h1 align="center">Lists of all Articles</h1>

<div align="center">
    <%= will_paginate %>
</div>
<%= render 'articless', obj: @articles %>
<div align="center">
    <%= will_paginate %>
</div>