<div class="jumbotron center">
    <h1 align="center">ALPHA BLOG</h1>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <%= link_to "Sign Up", '#', class: 'btn btn-primary btn-lg' %>
        </div>
    </div>
</div>